<div class="col-md-12">
    <div class="heading">You don't have an account Just fill here and <b>hack the information !!!</b></div>
    <div *ngFor="let er of error" class="alert alert-danger alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ er }} </div>
    <form (ngSubmit)="register(reg)" #reg="ngForm">
        <div class="form-group row col-md-12">
            <input 
            type="text" 
            placeholder="usename"
            name="username" 
            class="form-control" 
            required 
            ngModel
            /> </div>
        <div class="form-group row col-md-12">
            <input 
            type="text" 
            placeholder="firstname" 
            class="form-control" 
            name="firstname"
            required 
            ngModel
            /> </div>
        <div class="form-group row col-md-12">
            <input 
            type="text" 
            placeholder="lastname" 
            class="form-control" 
            name="lastname"
            required 
            ngModel
            /> </div>
        <div class="form-group row col-md-12">
            <input 
            type="email" 
            placeholder="Email-id" 
            class="form-control" 
            name="email"
            required 
            ngModel
            /> </div>
        <div class="form-group row col-md-12">
            <input 
            type="password" 
            placeholder="Password" 
            class="form-control" 
            name="password"
            required 
            ngModel
            /> </div>
        <div class="form-group row col-md-12">
            <input type="submit" value="Signup" class="btn btn-success" [disabled]="!reg.valid"/> </div>
    </form>
</div>