<div class="row">
    <div class="heading">Hey login to <b>hack the information !!!</b></div>
    <form (ngSubmit)="getUser(f)" #f="ngForm">
        <div *ngFor="let er of error" class="alert alert-danger alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ er }} </div>
        <div class="form-group row col-md-12">
            <input 
            type="username" 
            placeholder="Username" 
            name="username" 
            class="form-control" 
            ngModel 
            required /> </div>
        <div class="form-group row col-md-12">
            <input 
            type="password" 
            placeholder="Password" 
            name="password" 
            ngModel 
            class="form-control" 
            required /> </div>
        <div class="form-group row col-md-12">
            <input type="submit" value="Signin" class="btn btn-success" [disabled]="!f.valid" /> </div>
    </form>
</div>