        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3">
                <ul class="list-group">
                    <li class="list-group-item">Bangalore <span class="badge">12</span></li>
                    <li class="list-group-item">Chennai <span class="badge">5</span></li>
                    <li class="list-group-item">Delhi <span class="badge">3</span></li>
                    <li class="list-group-item">Gurgon <span class="badge">12</span></li>
                    <li class="list-group-item">Hyderabad <span class="badge">5</span></li>
                    <li class="list-group-item">Jammu & Kashmir <span class="badge">3</span></li>
                    <li class="list-group-item">Kolkatta <span class="badge">12</span></li>
                    <li class="list-group-item">Lucknow <span class="badge">5</span></li>
                    <li class="list-group-item">Mysore <span class="badge">3</span></li>
                    <li class="list-group-item">Ongole <span class="badge">12</span></li>
                    <li class="list-group-item">Pune <span class="badge">5</span></li>
                    <li class="list-group-item">Vishakapattanam <span class="badge">3</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
      </h4> </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Collapsible panel</a>
      </h4> </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Collapsible panel</a>
      </h4> </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse4">Collapsible panel</a>
      </h4> </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 col-xl-3">
                <ul class="list-group">
                    <li class="list-group-item">2007 <span class="badge">1200</span></li>
                    <li class="list-group-item">2008 <span class="badge">500</span></li>
                    <li class="list-group-item">2009 <span class="badge">300</span></li>
                    <li class="list-group-item">2010 <span class="badge">120</span></li>
                    <li class="list-group-item">2011 <span class="badge">500</span></li>
                    <li class="list-group-item">2012 <span class="badge">300</span></li>
                    <li class="list-group-item">2013 <span class="badge">120</span></li>
                    <li class="list-group-item">2014 <span class="badge">500</span></li>
                    <li class="list-group-item">2015 <span class="badge">300</span></li>
                    <li class="list-group-item">2016 <span class="badge">120</span></li>
                    <li class="list-group-item">2017 <span class="badge">50</span></li>
                </ul>
            </div>
        </div>